<div class="hero">
    <div>
        <img src="Images/browser.png" class="hero-img" alt="browser image">
    </div>
    <div>
        <a href="/signup" class="btn">Singup</a>
        <a href="/login" class="btn">Login</a>
    </div>
   
</div>