<h1 class="main-header">Create notes and keep track of interesting links</h1>

<div class="hero">
  <div>
    <img src="Images/browser.png" class="hero-img" alt="browser image" />
  </div>
  <div>
    <a href="/signup" class="btn">Signup</a>
    <a href="/login" class="btn">Login</a>
  </div>

</div>