<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BrainTabs</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
   <script src="https://cdn.tiny.cloud/1/{{tinyKey}}/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
   <script>
     tinymce.init({
       selector: ".editor",
       height: 500,
       width: 750,
       content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
     });
   </script>
  </head>

  <body class="body">
    <nav class="navbar">
      <a href="/"><img src="/images/tabs.png" class="logo" alt="brainTab logo" /></a>
      <div id="dyna-nav">
        {{#if sessionUser}}
          <a href="/logout" class="nav-btn">Logout</a>
          <a href="/profile" class="nav-btn">My dashboard</a>
        {{else}}
          <a href="/signup" class="nav-btn">Signup</a>
          <a href="/login" class="nav-btn">Login</a>
        {{/if}}
      </div>
    </nav>
    <main>
      {{{body}}}
    </main>

    <footer class="footer">
      <div>Icons made by
        <a href="https://www.freepik.com" title="Freepik">Freepik</a>, Kiranshastry, srip from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
   {{!-- <script type="module" src='/javascripts/script.js'></script> --}}
  </body>
</html>