<main>
  
    <h1 class="main-header">My dashboard</h1>
   
    <section class="container">
        <section class="side side-left">
            <a href="/newfolder"><img src="Images/button.png" width="30px"></a>
            
             <p>hello</p>
            
        </section>
        <section class="side side-right">
            <a href="/newtab"><img src="Images/button.png" width="30px"></a>
            <p>hello</p>
            
        </section>  
    </section>
    
</main>