:root {
  --light-blue: #0466c8;
  --medium-light-blue: #0353a4;
  --medium-blue: #023e7d;
  --grey-blue: #002855;
  --dark-blue: #001845;
  --grey: #33415c;
  --medium-grey: #5c677d;
  --light-grey: #979dac;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  color: var(--grey);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  top: 40%;
}

button {
  border: none;
  text-decoration: none;
}

.container {
  display: flex;
}

.text-center {
  text-align: center;
}

.btn {
  color: white;
  background-color: var(--medium-blue);
  text-decoration: none;
  padding: 0.5em;
  margin: 0 auto;
  border-radius: 10%;
  font-size: 1rem;
}

.btn:hover {
  color: white;
  background-color: var(--light-blue);
}

/* --------------------------------------------------------- */
.navbar,
.footer {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--medium-blue);
  padding: 1rem;
}

.logo {
  width: 50px;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.hero-img {
  width: 30rem;
  margin-bottom: 2rem;
}

.nav-btn {
  width: 3em;
  color: white;
  border: 1px solid var(--light-blue);
  text-decoration: none;
  padding: 0.5rem;
  margin: 0;
  border-radius: 10%;
}

.nav-btn:hover {
  color: var(--light-blue);
  background-color: white;
}

/* --------------------------------------------------------- */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.form-div {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  width: 40em;
  height: 4em;
  border: 1px solid var(--medium-blue);
  border-radius: 3px;
  padding: 1rem;
  margin-left: 1rem;
}

.error {
  color: red;
}

/* --------------------------------------------------------- */
.main-header {
  text-align: center;
  background: linear-gradient(var(--medium-blue), var(--light-blue));
  margin: 0;
  color: white;
  padding-bottom: 0.25rem;
}

.side {
  height: 95vh;
  width: min(95%);
  padding: 2rem;
}

.side-right {
  background-image: linear-gradient(
    to top left,
    var(--dark-blue),
    var(--light-blue)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-right .btn {
  margin: auto;
}

.side-text {
  width: 50%;
}

.side-text .form-div {
  justify-content: space-evenly;
}

.card-layout {
  display: flex;
  flex-wrap: wrap;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 1rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  border: 1px solid white;
  background-image: linear-gradient(
    to top right,
    var(--dark-blue),
    var(--light-blue)
  );
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flip-card-front {
  color: white;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.tab h3 {
  color: white;
}

.link-preview-container {
  display: flex;
  background-color: transparent;
  border: 1px solid var(--medium-blue);
  width: 75%;
  color: white;
  font-size: 0.75rem;
  margin: 0.5rem;
  align-items: center;
  line-height: 1;
  padding: 0.25rem;
}

.link-preview-container a {
  color: var(--light-grey);
}
.link-preview-img {
  width: 75px;
  height: 75px;
  margin: 0.5rem;
}
/* --------------------------------------------------------- */
.folder-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.detail-folder {
  margin: 0 auto;
  padding: 1rem;
  height: 95%;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.detail-btn {
  margin: 0 auto;
}
.description {
  height: 75vh;
  border: 1px solid var(--light-blue);
  border-radius: 5px;
  padding: 0.5rem;
  overflow: auto;
}

/* --------------------------------------------------------- */
.footer {
  color: var(--light-grey);
  font-size: 0.75rem;
  justify-content: center;
}

.footer a {
  text-decoration: none;
  color: var(--light-grey);
}

/* @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .container-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
} */
