<h1 class="text-center">New folder page</h1>

<div class="folder-container">
  <form action="/newfolder" method="POST">
    <div class="form-div">
      <label for="title" class="form-lbl"> Folder name </label>
      <input type="text" name="title" placeholder="Folder name" class="form-input" />
    </div>
    <div class="form-div">
      <label for="keywords" class="form-lbl"> Keywords </label>
      <input type="text" name="keywords" placeholder="Add keywords" class="form-input" />
    </div>
    <div class="form-div">
      <textarea name="description" class="editor">
      </textarea>
    </div>
    <div class="detail-btn">
      <button type="submit" class="btn">Save</button>
      <a href="/profile" class="btn">Back</a>
    </div>
    
  
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

