<h1 class="main-header">My dashboard</h1>

<section class="container">
  <section class="side side-left">
    <a href="/newfolder"><img src="Images/add.png" width="30px" /></a>


    {{#if user.folders}}
    {{#each user.folders}}
      <article>
        {{this._id}}
        {{this.title}}
        {{this.description}}
      </article>
    {{/each}}
    {{/if}}
   

  </section>
  <section class="side side-right">
    <a href="/newtab"><img src="Images/add.png" width="30px" /></a>
    <p>hello</p>
  </section>
</section>