<h1 class="main-header">My dashboard</h1>

<section class="container">
  <section class="side side-left">
    <a href="/newfolder"><img src="Images/add.png" width="30px" /></a>

    <section class="card-layout">
      {{#each user.folders}}
        <article class='card'>
          <div class="card-container">
              <div class="card-header">
                <h4>{{this.title}}</h4>
              </div>
              
              <div class="card-links">
                <a href="/profile/{{this._id}}"><img src="Images/book.png" width="30px"></a>
                <form action="/profile/{{this._id}}/delete" method="POST">
                  <button><img src="Images/delete.png" width="30px"></button>
                </form>
               
              </div>
          </div>
        </article>
      {{/each}}
    </section>
 
  
</div>

  </section>
  <section class="side side-right">
    <a href="/newtab"><img src="Images/add.png" width="30px" /></a>
    <p>hello</p>
  </section>
</section>