<h1 class="main-header">My dashboard</h1>

<section class="container">
  <section class="side side-left">
    <a href="/newfolder"><img src="Images/add.png" width="30px" /></a>

    <section class="card-layout">
      {{#each user.folders}}
        <article class='card'>
          <div class="card-container">
              <h4>{{this.title}}</h4>
              <p>{{this.keywords}}</p>
              <div>
                <a href="#"><img src="Images/book.png" width="30px"></a>
                <a href="#"><img src="Images/delete.png" width="30px"></a>
              </div>
          </div>
        </article>
      {{/each}}
    </section>
 
  
</div>

  </section>
  <section class="side side-right">
    <a href="/newtab"><img src="Images/add.png" width="30px" /></a>
    <p>hello</p>
  </section>
</section>