<section class="detail-folder">
    <h1>{{this.title}}</h1>
    <section class="detail-body">
        <div>
            {{{this.description}}}
        </div>
            
        <div>
            Keywords: {{this.keywords}}
        </div>
    </section>
    <div class='container' style='margin: 1em'>
        <a href="/{{this._id}}/edit" class="btn" style='margin-right: 1em'>Edit</a>
        <a href="/profile" class="btn">Back</a>
    </div>
</section>